
<div class="row">
    <div clas="col-6">  
        <div class="mb-3">
            <label for="" class="form-label">Numero1</label>
            <input type="text" [(ngModel)]="num1" name="num1" placeholder="Numero1" class="form-control">
        </div>
        <div class="mb3">
            <label for="" class="form-label">Numero1</label>
            <input type="text" [(ngModel)]="num2" name="num2" placeholder="Numero2" class="form-control">
        </div>
        <div class="mb3"></div>
        <button class="btn btn-primary" (click)="sumar()">Calcular</button>
    </div>
    <div class="col6">
        <h2>La suma es: {(resultado)}</h2>
    </div>
</div>
