<!-- <div class="container">
  <div class="row">
    <p>Que wea</p>

    <div>La suma de 2 + 2 es {{2+2}}</div>

    <div>El doble de 3 es {{duplicarValor(3)}}</div>
    
    <h4>Alumno IDGS-904</h4>
    <div><b>{{Alumno.matricula}}</b></div>
    <div> <b>{{Alumno.nombre}}</b></div>
    <div><b>Fecha:{{Alumno.fechaNacimiento | date}}</b> </div>
    <div> <b>Pago inscripcion {{Alumno.pagoIns | currency}}</b></div>

    <div>
      <b>{{title}}</b>
    </div>
  
  
    <hr>
    <appescuela></appescuela>

    <hr>
    <appentornos></appentornos>

    

  </div>
</div> -->

<!-- <hr>
    <app-iric></app-iric> -->

    <hr>
    <app-sumar></app-sumar>

