<app-menu></app-menu>

<div class="container">
  <div class="row">

  <!-- <p>Hola mumdo</p>
  <div class="bg-dark text-light">{{title}}</div>
  <h4>La suma de 2+2 = {{2+2}}</h4>

  <div>El doble de 3 es {{duplicaValor(3)}}</div>

  <h4><b>Alumnos</b> IDGS904</h4>
  <div><b>Matricula:</b> {{Alumno.matricula}}</div>
  <div><b>Nombre:</b> {{Alumno.nombre}}</div>
  <div><b>Fecha:</b> {{Alumno.fechaNacimiento | date}}</div>
  <div><b>Pago:</b> {{Alumno.pagoIns | currency}}</div>

  <hr>
  <app-escuela></app-escuela>
  <app-iric></app-iric> -->

  
  <!-- <app-sumar></app-sumar> -->
  <hr>
  <!-- <app-operas-bas></app-operas-bas> -->

  
  <!-- <app-iric></app-iric>
  <hr>
  <app-calificaciones-alum></app-calificaciones-alum> -->

  <app-alumno-reactive></app-alumno-reactive>
  </div>
</div>

