<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a  class="navbar-brand">IDGS</a>
    <button class="navbar-toggle" data-target="#my-nav" data-toggle="collapse"
    aria-controls="my-nav" aria-expanded="false"
    aria-label="Toggle navigator">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home</a>
            </li>

            <li class="nav-item active"><a class="nav-link" routerLink="Iric" >
                Iric
            </a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="Operas">
                Operas
            </a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="FormReactive">
                FormReactive
            </a></li>
        </ul>
    </div>
</nav>
